/* =============== Base Element Styles =============== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; /* 16px */
  color: #3a3a3a;
  line-height: 1.6;
}

h1 {
  font-family: 'Muli', sans-serif;
}

p {
  font-size: 1.3em;
  margin-bottom: 1.8em;
}

a {
  text-decoration: none;
}

span {
  color: #EBCFB2;
}

.name {
  color: #fff;
}

h2 {
  margin: 0;
  text-decoration: underline;
  color: #2A2D34;
}

img {
  max-width: 100%;
}

/* =============== Base Layout Styles =============== */

/* ---------- Navigation ---------- */

.name {
  margin: 0;
  font-size: 1.25em;
}

.name,
.main-nav li { /* TO-DO: Figure out why .main-nav a{} wasn't working */
  padding-top: 10px;
  padding-bottom: 25px;
}

.name a,
.about a {
  color: #2A2D34;
}

.main-footer a {
  color: #A0DDE6;
}

.main-nav a {
  /* margin-top: 5px; */
  text-transform: uppercase;
}

.main-nav a {
  color: #EBCFB2;
}

.main-nav a:hover {
  color: #2A2D34;
}

/* ---------- Banner ---------- */

.banner {
  text-align: center;
  background: #424B54;
  padding-top: 90px;
  padding-bottom: 45px;
  margin-bottom: 60px;
}

.headline {
  color: #EBCFB2;
  margin-bottom: 0;
  font-size: 3em;
}

.tagline {
  font-size: 1.3em;
}

/* =============== Layout Containers =============== */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-header,
.main-footer {
  text-align: center;
}

.main-footer {
  background: #424B54;
  margin-top: 20px; /* creating some space between the top of the footer and the bottom of the website */
  padding: 2em 0;
  font-size: 2em;
}

.col-container {
  padding-left: 1em;
  padding-right: 1em;
}


/* =========== Media Queries =========== */

@media (min-width: 812px) {

  .clearfix {
    overflow: auto;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 20px;
  }

  .main-header {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
  }

  .welcome {
    text-align: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
}




/* =============== Media Queries =============== */
